{{ define "main" }}
    <article id="post-list">
        <h1>{{ .Title }}</h1>

        {{ $pages := (where .Site.RegularPages "Section" "posts") }}
        <ul>
            {{ range $pages }}
                <li>
                    <span>
                        {{ $date := or .PublishDate .Date }}
                        <time datetime="{{ $date.Format "2006-01-02T15:04:05Z07:00" }}">
                            {{ $date.Format "2006-01-02" }}
                        </time>
                    </span>

                    <a
                        href="{{ .RelPermalink }}"
                        class=""
                    >
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </section>
{{ end }}
