{{ define "main" }}
    <article class="mb-16">
        {{ .Content }}

        <ul class="flex m-0 p-0 list-none">
            {{ range .Site.Menus.social }}
            <li class="mr-4 w-7"><a href="{{ .URL }}" aria-label="{{ title .Identifier }}">{{ .Pre }}</a></li>
            {{ end }}
        </ul>
    </article>
    <div>
        <p class="text-lg mobile:text-xl mb-8">Don't know what to read? Look no further, start here!</p>
        {{ with .Site.Menus.favorites }}
        <section class="mb-8">
            <h2 class="text-2xl mobile:text-3xl font-bold">Some Personal Favorites</h2>
            <ul>
                {{ range first 10 . }}
                <li class="flex flex-col mb-3"><a class="text-blue-600 dark:text-blue-500" href="{{ .URL }}">{{ .Name }}</a><span class="text-base mobile:text-lg text-mediumemphasis dark:text-darkmediumemphasis"><time datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Page.Date.Format "Jan 2, 2006" }}</time> · {{ .Page.ReadingTime }} min read</span></li>
                {{ end }}
            </ul>
        </section>
        {{ end }}

        {{ $popular_posts := false }}
        {{ with $popular_posts }}
        <section  class="mb-8">
            <h2  class="text-2xl mobile:text-3xl font-bold">What Others Find Popular</h2>
            <ul>
                {{ range first 10 . }}
                <li class="flex flex-col mb-3"><a class="text-blue-600 dark:text-blue-500" href="{{ .URL }}">{{ .Name }}</a><span class="text-base mobile:text-lg text-mediumemphasis dark:text-darkmediumemphasis"><time datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Page.Date.Format "Jan 2, 2006" }}</time> · {{ .Page.ReadingTime }} min read</span></li>
                {{ end }}
            </ul>
        </section>
        {{ end }}

        <section>
            <h2 class="text-2xl mobile:text-3xl font-bold">Recent Posts</h2>
            <ul>
                {{ range first 10 (where .Site.RegularPages "Section" "posts") }}
                    <li class="flex flex-col mb-3"><a class="text-blue-600 dark:text-blue-500" href="{{ .RelPermalink }}">{{ .Title }}</a><span class="text-base mobile:text-lg text-mediumemphasis dark:text-darkmediumemphasis"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time> · {{ .ReadingTime }} min read</span></li>
                {{ end }}
            </ul>
        </section>
    </div>
{{ end }}
