{{ define "main" }}
    <section id="profile">
        <img id="profile-pic" src="profile-pic.jpg" alt="Yep, that's me!">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ partial "social.html" . }}
    </section>
    <section id="recent-posts">
        <h2>Recent Posts</h2>
        <ul>
            {{ range first 10 (where .Site.RegularPages "Section" "posts") }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> <span class="meta-info"><time class="publish-date" datetime="{{ .Date }}">{{ .Date.Format "Jan 2, 2006" }}</time> · {{ .ReadingTime }} min read</span></li>
            {{ end }}
        </ul>
    </section>
{{ end }}
