#home > section {
  margin-bottom: 4rem;
}

#home > div > p {
  margin-bottom: 2rem;
}

#home > div ul, #socials {
  list-style: none;
  padding: 0;
}

#home > div li {
  margin-bottom: .7rem;
  display: flex;
  flex-direction: column;
}

#home > div li span {
  color: var(--medium-emphasis-text);
}

#socials {
  display: flex;
  column-gap: 1rem;
  row-gap: .2rem;
  flex-wrap: wrap;
}
