.post img {
  margin-bottom: 2rem;
}

.post .date {
  /* margin-bottom: 2rem; */
  color: var(--medium-emphasis-text);
}

#post-list ul {
  list-style: none;
  padding: 0;
}

#post-list ul li:nth-child(odd) {
  background: var(--post-list-bg);
}

#post-list li span {
  color: var(--medium-emphasis-text);
}

#post-list li {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin: 0;
}

#post-list li:hover {
  background: var(--post-list-hover) !important;
}

#post-list li a {
  width: 100%;
  padding: 2px 0;
}
