{{- $id := $.Inner | md5 | printf "lb%s" -}}
{{- .Page.Store.Add "lightboxes" (slice $id) -}}

<figure class="gallery {{ $id }}">
    {{- if .Get 0 -}}
    <figcaption>
        {{- with .Get 0 -}}{{ . }}{{- end -}}
    </figcaption>
    {{- end -}}

    {{- $input := split (strings.TrimSpace .InnerDeindent) "\n" -}}
    {{- $input = apply $input "split" "." " " -}}

    {{- $images := slice -}}
    {{- range $input -}}
        {{- $images = $images | append (dict "path" (index . 0) "alt" (index . 1)) -}}
    {{- end -}}

    <ul>
    {{- range $images -}}
        {{- $image := $.Page.Resources.Get .path -}}
        {{- $thumbnail := $image.Resize "640x webp q75" -}}
        <li>
            <a href="{{ $image.RelPermalink }}">
                <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .alt }}" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" loading="lazy">
            </a>
        </li>
    {{- end -}}
    </ul>
</figure>
